/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

.page.theme_light {
  /* сохраните этот селектор в приведённом виде.
    Так стили написанные ниже будут иметь больший вес,
    чем стили в медиазапросе предпочтений пользователя
  */

  --text-font: 'IBM Plex mono';
  --bg-color: #FFF1F7;
  --nav-color: #353430;
  --accent-color: #FF8DCB;
  --subtitle-color: #353430;
  --text-color: #353430;
  --title-color: #FFC2E6;
  --bg-image: url(../images/cover-image-light.png);
  --text-size: 18px;
}

@media (prefers-color-scheme: light) {
  :root {
    --text-font: 'IBM Plex mono';
    --bg-color: #FFF1F7;
    --nav-color: #353430;
    --accent-color: #FF8DCB;
    --subtitle-color: #353430;
    --subtitle-main-color: #353430;
    --text-color: #353430;
    --title-color: #FFC2E6;
    --bg-image: url(../images/cover-image-light.png);
    --decor-none: none;
  }

  .page {
    background-color: var(--bg-color);
    background-image: var(--bg-image);
  }

  .header__theme-menu-button {
    color: var(--nav-color, #353430);
  }

  .decorated-element {
    display: var(--decor-none);
  }

  .header__theme-menu-button:hover {
    border: 1px solid var(--nav-color, #353430);
  }

  .header__theme-menu-button:focus {
    outline: 0px solid transparent;
    border-bottom: 1px solid var(--nav-color, #353430);
  }

  .header__theme-menu-button_active {
    border: 1px solid var(--nav-color, #353430);
    pointer-events: none;
  }

  .heading__content {
    color: var(--subtitle-main-color, #353430);
  }

  .link-decor {
    text-shadow: 1px 2px 0px var(--accent-color, #FF8DCB);
  }
}

@media (width >= 1024px) {
  .theme_light .title__main {
    text-shadow: 4px 4px 0px #FF0070;
  }

  .theme_light .footer {
    text-shadow: 2px 2px 0px #FF0070;
  }
}
