/*
  Переменные для вашего проекта
  и их переопределение под различные устройства
*/

:root {
  --text-font: 'IBM Plex mono';
  --bg-color: #000028;
  --nav-color: #FF0070;
  --accent-color: #FF0070;
  --subtitle-color: #000028;
  --subtitle-main-color: #FF0070;
  --text-color: #F1B2CE;
  --title-color: #DB00FF;
  --bg-image: url(../images/cover-image-dark.png);
  --text-size: 18px;
}